/* Basic Styling */
html {
	--max-inline-size: 500px;

	box-sizing: border-box;
	font-family: system-ui, Helvetica, Arial, sans-serif;
	color: hsl(0 0% 20%);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	inline-size: 100vw;
	block-size: 100vh;
	margin: 0;
	padding: 0;
}

header {
	padding: 2em;
	text-align: center;
}

	header h1 {
		margin: 0;
		font-weight: 400;
		font-variant: small-caps;
	}

	header h2 {
		margin: 0;
		font-size: 1em;
		font-weight: 300;
	}

[mv-app="gameState"] {
	--icon-faded: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" fill="white" opacity=".3"><text style="font-size:80px" y=".9em">⭐️</text></svg>');
	--icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" fill="white"><text style="font-size:80px" y=".9em">⭐️</text></svg>');

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: max(8px, 0.7em);
	place-items: center;
	min-block-size: 2em;
	max-inline-size: var(--max-inline-size, 500px);
	margin: 0 auto 0.8em;
	padding: 0 1.3em;
}

	/* Credit to Lea Verou: https://twitter.com/LeaVerou/status/1449514764221272064 and https://codepen.io/leaverou/pen/abydReB */
	[mv-app="gameState"] meter {
		display: inline-block;
		inline-size: 3em;
		font-size: 130%;
		background: var(--icon-faded) 0 / auto 100%;
	}

	[mv-app="gameState"] meter::-webkit-meter-inner-element {
		display: block;
	}

	[mv-app="gameState"] meter::-webkit-meter-bar {
		border: none;
		background: transparent;
	}

	[mv-app="gameState"] meter::-webkit-meter-optimum-value {
		background: var(--icon) 0 / auto 100%;
	}

	[mv-app="gameState"] meter::-moz-meter-bar {
		background: var(--icon) 0 / auto 100%;
	}

	/* Reset Game button */
	[mv-app="gameState"]>svg {
		inline-size: 1em;
		block-size: 1em;
		cursor: pointer;
	}

#game-board {
	--theme-color: #ee7622;
	--matched-card: #eee;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: max(8px, 0.7em);
	justify-content: center;

	margin: 0 auto;
	padding: 1.3em;

	border-radius: 0.5em;
	box-shadow: 0px 0px 15px 0px hsl(0 0% 20% / 0.75);
	list-style-type: none;

	/* Credit: https://bennettfeely.com/gradients/ */
	background:
		linear-gradient(limegreen, transparent),
		linear-gradient(90deg, skyblue, transparent),
		linear-gradient(-90deg, coral, transparent);
	background-blend-mode: screen;
}

.card {
	display: grid;
	place-items: center;

	aspect-ratio: 3 / 4;

	/* Source of the image: https://www.flaticon.com/free-icon/chip_897219 */
	background: url(../img/chip.svg) center center no-repeat content-box;
	background-blend-mode: overlay;
	background-color: var(--theme-color);

	border-radius: 0.2em;

	font-size: 48px;
	/* Hide card's symbol by default */
	color: transparent;
	cursor: pointer;
}

.flipped {
	color: initial;
	background: var(--matched-card);
	animation: flipIn 1s;
	cursor: default;
}

.matched {
	color: initial;
	background: var(--matched-card);
	animation: correct 1s;
	cursor: default;
}

.incorrect {
	animation: changeCardColor 1s steps(1, end),
	shake 1s,
	flipOut 1s 1s;
}

/* Animating cards after starting/restarting the game */
.initial {
	animation: flipOut 1s;
}


#game-over {
	min-inline-size: 335px;
	display: flex;
	flex-flow: column;
	align-items: center;
	position: fixed;
	inset: 0;
	background: #fff;
}

	#game-over>svg {
		fill: var(--theme-color);
		inline-size: 5em;
		block-size: 5em;
		margin-top: 20vh;
	}

	#game-over>h2 {
		font-size: 2em;
		padding: 1em 1em 0;
		max-inline-size: 550px;
		margin: 0 auto;
	}

	#game-over>p {
		padding: 0 1.2em;
		text-align: center;
	}

	#game-over>button {
		padding: 1em 2em;
		margin: 1em 0 0;
		font-size: 1em;
		color: #fff;
		background: var(--theme-color);
		border: none;
		border-radius: 7px;
		box-shadow: inset 0 -4px 0 0 hsl(0 0% 0% / 0.2);
		cursor: pointer;
	}

		#game-over>button:hover {
			box-shadow: inset 0 -4px 0 0 hsl(0 0% 0% /0.6), 0 0 8px 0 hsl(0 0% 0% / 0.5);
		}

		#game-over>button:focus {
			box-shadow: inset 0 3px 5px 0 hsl(0 0% 0% / 0.2);
		}

[mv-app="stats"] {
	margin: 3em auto;
	border-collapse: collapse;
}

	[mv-app="stats"] caption {
		margin: 0 0 0.3em;
		font-style: italic;
		text-align: left;
		line-height: 1.85;
		font-size: 0.82em;
	}

	[mv-app="stats"] caption::before {
		content: "Table. ";
		font-style: normal;
	}

	[mv-app="stats"] th {
		padding: 0 1.5em 0 0;
		border-bottom: 1px solid currentColor;
	}

	[mv-app="stats"] tr {
		block-size: 2em;
	}

	[mv-app="stats"] tbody tr[mv-list-item] td:first-child::before {
		content: "#"
	}

	[mv-app="stats"] tbody tr:nth-child(even) {
		background: hsl(0 0% 93%);
	}

	/* Clear Results button */
	[mv-app="stats"] svg {
		fill: hsl(0 0% 30%);
		inline-size: 1.5rem;
		block-size: 1.5rem;
		margin-inline-start: auto;
		padding: 0.35em;
		margin-inline-end: -0.35em;
		border-radius: 0.35em;
		float: right;
		cursor: pointer;
	}

		[mv-app="stats"] svg:hover {
			background-color: hsl(0 0% 90%);
		}

footer {
	position: absolute;
	inset: 0;
	inset-inline-end: initial;
	inset-block-end: initial;
	display: flex;
	flex-direction: column;
	gap: 0.1em;
	align-items: center;
	justify-content: center;
	padding: .4em 4.8em;
	font-size: 85%;
	background: hsl(350 80% 55%);
	color: hsl(41 61% 90%);
	transform: rotate(90deg) translateX(70%) rotate(-90deg) rotate(-45deg) translateY(-100%);
	transform-origin: 0 0;
	box-shadow: 0 0.1em 0 0.1em hsl(0 0% 0% / 0.15);
}

	footer img {
		inline-size: 3.5em;
	}

	footer img:not(:hover) {
		filter: grayscale(100%) brightness(400%);
	}

/* Animations */
/*
	Correct guess
	Source: http://www.theappguruz.com/tag-tools/web/CSSAnimations/
*/
@keyframes correct {
	0% {
		transform: scale3d(1, 1, 1);
	}
	10%,
	20% {
		transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
	}
	30%,
	50%,
	70%,
	90% {
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}
	40%,
	60%,
	80% {
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}
/*
	Incorrect guess
	Inspired by: http://www.theappguruz.com/tag-tools/web/CSSAnimations/
*/
@keyframes shake {
	0%,
	100% {
		transform: translate3d(0, 0, 0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
	transform: translate3d(-10px, 0, 0);
	}
	20%,
	40%,
	60%,
	80% {
	transform: translate3d(10px, 0, 0);
	}
}

/* Make not matched cards red and show their symbols */
@keyframes changeCardColor {
	from {
		color: initial;
		background: hsl(0 100% 65%);
	}
	to {
		background: var(--theme-color);
	}
}

/*
	Card's flip
	Source: http://www.theappguruz.com/tag-tools/web/CSSAnimations/
*/
@keyframes flipIn {
	0% {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		transition-timing-function: ease-in;
	}
	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		transition-timing-function: ease-in;
	}
	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
	}
	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}
	100% {
		transform: perspective(400px);
	}
}

@keyframes flipOut {
	0% {
		transform: perspective(400px) rotate3d(0, 1, 0, -90deg);
		transition-timing-function: ease-in;
	}
	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, 20deg);
		transition-timing-function: ease-in;
	}
	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, -10deg);
	}
	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, 5deg);
	}
	100% {
		transform: perspective(400px);
	}
}
@keyframes boom {
	50% {
		transform: scale(1.2);
	}
}

/* Make game layout responsive */
@media (max-width: 415px) {
	header {
		margin-block-start: 1.5em;
	}

	[mv-app="gameState"] {
		gap: 0.5em;
		font-size: 85%;
	}

	footer {
		gap: 0.3em;
		inset-inline-end: 0;
		padding: 0.7em 3em;
		flex-direction: revert;
		transform: revert;
	}

	footer a {
		display: flex;
		align-self: stretch;
	}
}

@media (min-width: 500px) {
	[mv-app="gameState"],
	#game-board {
		max-inline-size: var(--max-inline-size, 500px);
	}

	.card {
		font-size: 70px;
	}

	#game-over>svg {
		margin-top: 30vh;
	}
}
